.App {
    display: flex;
    flex-direction: column;
}

.top_menu {
    display: flex;
    margin-top: 16px;
    padding: 0 16px;
}

label {
    display: flex;
    align-items: center;
    user-select: none;
}

input {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 4px;
}

input:checked {
    background-image: url('../assets/checked.png');
    background-repeat: no-repeat;
}

p {
    margin-left: 6px;
    font-size: 15px;   
    color: white;
    font-weight: 400;
}

.plus_btn {
    position: absolute;
    z-index: 10000;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 748px;
    left: 300px;
    background-color: var(--main);
    border-radius: 50px;
  }