.App {
    display: flex;
    flex-direction: column;
}

.top_menu {
    display: flex;
    margin-top: 16px;
    padding: 0 16px;
}

label {
    display: flex;
    align-items: center;
    user-select: none;
}

input {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 4px;
}

input:checked {
    background-image: url('./assets/checked.png');
    background-repeat: no-repeat;
}

p {
    margin-left: 6px;
    font-size: 15px;   
    color: white;
    font-weight: 400;
}